.chatScreen-wrapper {
  padding: 0 10px;
  min-width: 300px;
  height: 100vh;
  position: relative;
  margin: auto;
  font-family: "Poppins", sans-serif;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  padding: 0.8rem 0;
  margin-bottom: -9px;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-head .back-icon {
  cursor: pointer;
  font-size: 25px;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-head .more-icon {
  cursor: pointer;
  font-size: 25px;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-head .user-details {
  display: flex;
  align-items: center;
  gap: 20px;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-head .user-details .chatScreenProfile-img {
  cursor: pointer;
  position: relative;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-head .user-details .chatScreenProfile-img .chatScreenUser-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-head .user-details .chatScreenProfile-img .online-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  border: 2px solid white;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-head .chatScreenUser-info .username .username-text {
  font-size: 0.85em;
  font-weight: 500;
  text-transform: capitalize;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-cont {
  margin-top: 0px;
  padding: 10px 0px;
}
@media screen and (min-width: 720px) {
  .chatScreen-wrapper .chatScreen-ui .chatScreen-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-cont .chatScreen-body {
  padding: 10px 0;
  border-radius: 15px;
  background-color: rgba(206, 202, 202, 0.1019607843);
}
@media screen and (min-width: 720px) {
  .chatScreen-wrapper .chatScreen-ui .chatScreen-cont .chatScreen-body {
    padding: 10px 40px;
    width: 90%;
  }
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-cont .chatSecondary-time {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 0.8em;
  opacity: 0.5;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-cont .mainReciever-msg {
  margin-bottom: 15px;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-cont .mainReciever-msg .recieverMsg-Cont {
  position: relative;
  margin: 4px 0;
  background-color: rgba(200, 205, 200, 0.431372549);
  padding: 15px 9px;
  width: 250px;
  border-radius: 15px 15px 15px 0;
}
@media screen and (min-width: 720px) {
  .chatScreen-wrapper .chatScreen-ui .chatScreen-cont .mainReciever-msg .recieverMsg-Cont {
    width: 500px;
  }
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-cont .mainReciever-msg .recieverMsg-Cont .recieverMsg {
  word-break: break-word;
  color: black;
  font-size: 0.85em;
  line-height: 1.3;
  padding: 2px;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-cont .mainReciever-msg .recieverMsg-Cont .recieverMsg-prop {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  right: 10px;
  font-size: 0.65em;
  font-weight: 500;
  color: rgba(45, 41, 41, 0.7058823529);
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-cont .mainSender-msg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 80px;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-cont .mainSender-msg .senderMsg-Cont {
  position: relative;
  padding: 15px 9px;
  margin: 2px 0;
  background-color: rgba(0, 128, 0, 0.753);
  width: 250px;
  border-radius: 15px 15px 0 15px;
}
@media screen and (min-width: 720px) {
  .chatScreen-wrapper .chatScreen-ui .chatScreen-cont .mainSender-msg .senderMsg-Cont {
    width: 500px;
  }
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-cont .mainSender-msg .senderMsg-Cont .senderMsg {
  word-break: break-word;
  color: white;
  font-size: 0.85em;
  line-height: 1.3;
  padding: 2px;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-cont .mainSender-msg .senderMsg-Cont .senderMsg-prop {
  position: absolute;
  bottom: 0px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 0.65em;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7058823529);
}
@media screen and (min-width: 720px) {
  .chatScreen-wrapper .chatScreen-ui .chatScreen-cont .mainSender-msg .senderMsg-Cont .senderMsg-prop {
    padding: 5px;
  }
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-cont .mainSender-msg .senderMsg-Cont .senderMsg-prop .senderMsg-tick .double-tick {
  font-size: 1.4em;
}
.chatScreen-wrapper .chatScreen-ui .chatScreen-cont .mainSender-msg .senderMsg-Cont .senderMsg-prop .senderMsg-tick .single-tick {
  font-size: 1.4em;
}
.chatScreen-wrapper .chat-input-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatScreen-wrapper .chat-input-cont .chat-input {
  display: flex;
  align-items: flex-end;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9803921569);
  position: fixed;
  bottom: 0px;
  justify-content: center;
  padding: 8px 9px 20px 9px;
}
.chatScreen-wrapper .chat-input-cont .chat-input .chat-textField {
  width: 65vw;
  max-height: 100px;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: rgba(154, 154, 154, 0.3254901961);
  box-shadow: 0px 0px 15px -9px #000000;
}
.chatScreen-wrapper .chat-input-cont .chat-input .chat-textField::-moz-placeholder {
  text-align: left;
  font-weight: 500;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.7215686275);
}
.chatScreen-wrapper .chat-input-cont .chat-input .chat-textField:-ms-input-placeholder {
  text-align: left;
  font-weight: 500;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.7215686275);
}
.chatScreen-wrapper .chat-input-cont .chat-input .chat-textField::placeholder {
  text-align: left;
  font-weight: 500;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.7215686275);
}
.chatScreen-wrapper .chat-input-cont .chat-input .chat-option {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 0 4px;
  margin-left: 3px;
}
@media screen and (min-width: 720px) {
  .chatScreen-wrapper .chat-input-cont .chat-input .chat-option {
    gap: 30px;
  }
}
.chatScreen-wrapper .chat-input-cont .chat-input .chat-option .sender .send-btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px;
  background: transparent;
  font-size: 1.3em;
}
.chatScreen-wrapper .chat-input-cont .chat-input .chat-option .inputLabel {
  cursor: pointer;
}
.chatScreen-wrapper .chat-input-cont .chat-input .chat-option .inputLabel .file-share {
  display: none;
}
.chatScreen-wrapper .chat-input-cont .chat-input .chat-option .inputLabel .pic-icon {
  cursor: pointer;
  font-size: 1.3em;
}/*# sourceMappingURL=chat-screen.css.map */