

    .desktop-chatScreen-wrapper{
        display: none;
        // background-color: green;

        @media screen and (min-width:900px){
            display: flex;
            // background-color: red;
<<<<<<< HEAD
=======
            border-bottom: 1px solid #0000001a;
            padding: 0.8rem 0;
            margin-bottom: -9px;

            .back-icon{
                cursor: pointer;
                font-size: 25px;
                // margin-right: 10px;

                
                @media screen and (min-width:720px){
                //    display: none;
                    }
               
            }

            .more-icon{
                cursor: pointer;
                font-size: 25px;

            }

            .user-details{
                display: flex;
                align-items: center;
                gap: 20px;

                .chatScreenProfile-img{
                    cursor: pointer;
                    position: relative;

                    .chatScreenUser-img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
    
                    .online-indicator{
                        position: absolute;
                        top:0;
                        right: 0;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: green;
                        border: 2px solid white;
                    }
                }
            }

            

            .chatScreenUser-info{
                .username{
                    .username-text{
                        font-size: 0.85em;
                        font-weight: 500;
                        // margin-bottom: 8px;
                        text-transform: capitalize;
                    }
                    
                }
               
            }

        
        }

        .chatScreen-cont{
        //    background-color: green;
           
            margin-top: 0px;
            padding: 10px 0px;
            

            @media screen and (min-width:720px){
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // height: 400px;

                
                }

            .chatScreen-body{
                padding: 10px 0;
                border-radius: 15px;
                background-color: #cecaca1a;
                

                

                @media screen and (min-width:720px){
                    padding: 10px 40px;
                    width: 90%;
                    // height: 20vh;
                    
                    }
            }

            .chatSecondary-time{
                text-align: center;
                text-transform: capitalize;
                margin-bottom: 10px;
                font-weight: 500;
                font-size: 0.8em;
                opacity: 0.5;
            }

            

            .mainReciever-msg{
                margin-bottom: 15px;

                .recieverMsg-Cont{
                    position: relative;
                    margin: 4px 0;
                    background-color: #c8cdc86e;
                    padding: 15px 9px;
                    width: 250px;
                    border-radius: 15px 15px 15px 0;

                    
                    @media screen and (min-width:720px){
                        width: 500px;
                        
                        }

                    .recieverMsg{
                        // text-align: start;
                        // width: 250px;
                        word-break: break-word;
                        // border-radius: 15px 15px 15px 0;
                        color: black;
                        font-size: 0.85em;
                        line-height:1.3;
                        padding: 2px;
                        // background-color: red;
                       
                    }

                    .recieverMsg-prop{
                        position: absolute;
                        bottom:0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 5px;
                        right:10px;
                        font-size: 0.65em;
                        font-weight: 500;
                        color: #2d2929b4;
                    } 
                }
            }
            
            .mainSender-msg{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-bottom: 80px;

                .senderMsg-Cont{
                    position: relative;
                    padding: 15px 9px;
                    margin: 2px 0;
                    background-color: rgba(0, 128, 0, 0.753);
                    width: 250px;
                    border-radius: 15px 15px 0 15px;

                    @media screen and (min-width:720px){
                        width: 500px;
                        
                        }

                    .senderMsg{
                        // text-align:start;
                        // width: 250px;
                        word-break: break-word;
                       color: white;
                       font-size: 0.85em;
                       line-height:1.3;
                       padding: 2px;
                    //    background-color: red;

                    }

                    .senderMsg-prop{
                        position: absolute;
                        bottom: 0px;
                        right: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 5px;
                        // margin-top: 5px;
                        font-size: 0.65em;
                        font-weight: 500;
                        color: #ffffffb4;

                        @media screen and (min-width:720px){
                            padding: 5px;
                            
                        }

                        .senderMsg-tick{
                            .double-tick{
                                
                                font-size: 1.4em;
                            }

                            .single-tick{
                                font-size:1.4em;
                            }
                        }
                    }
                }
            }
           
        }

       
    }
        
    .chat-input-cont{
        display: flex;
        justify-content: center;
        align-items: center;
        
        .chat-input{
        
            display: flex;
            align-items: flex-end;
>>>>>>> 5a6302640bdefd1ad6157166aee7778f1ad0eefd
            width: 100%;
          
        }
    }

    .mobile-chatScreen-wrapper{

        
        @media screen and (min-width:900px){
            display: none;
            // background-color: red;
            // width: 100%;
          
        }

    }

    .chat-cont2{
        display: none;
    }


    .mobile-chatScreen-wrapper, .desktop-chatScreen-wrapper{
        padding: 0 10px; 
        font-family: 'Poppins', sans-serif;
            
<<<<<<< HEAD
        .chatScreen-ui{
            position: relative;
            // height: 100vh;
            // background-color: red;
            // overflow: hidden;
            width: 100%;

            .chatScreen-head{
=======
            background-color:#fffffffa;
            position:fixed;
            bottom: 0px;
            
            justify-content: center;
    
            padding: 8px 9px 20px 9px;
    
            .chat-textField{
                width: 65vw;
                max-height: 100px;
                border-radius: 10px;
                padding: 10px;
                outline: none;
                border: none;
                background-color: #9a9a9a53;
                -webkit-box-shadow: 1px 1px 15px -10px  #0a0a0a;
                box-shadow: 0px 0px 15px -9px  #000000;
    
                &::placeholder{
                    text-align:left;
                    font-weight: 500;
                    font-size: 1em;
                    color: #000000b8;
                }
    
            }
    
            .chat-option{
>>>>>>> 5a6302640bdefd1ad6157166aee7778f1ad0eefd
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap:70px;
                // background-color: red;
                border-bottom: 1px solid #0000001a;
                padding: 0.8rem 0;
                margin-bottom: -9px;

                @media screen and (min-width:720px){
                    padding: 0.6rem 5rem;
                    justify-content: space-between;
                    }
    
                .back-icon{
                    cursor: pointer;
                    font-size: 25px;
                    // margin-right: 10px;

                    @media screen and (min-width:900px){
                        
                       display: none;
                        }
    
                    
                   
                   
                }
    
                .more-icon{
                    cursor: pointer;
                    font-size: 25px;
    
                }
    
                .user-details{
                    display: flex;
                    align-items: center;
                    gap: 20px;
    
                    .chatScreenProfile-img{
                        cursor: pointer;
                        position: relative;
    
                        .chatScreenUser-img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
        
                        .online-indicator{
                            position: absolute;
                            top:0;
                            right: 0;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: green;
                            border: 2px solid white;
                        }
                    }
                }
    
                
    
                .chatScreenUser-info{
                    .username{
                        .username-text{
                            font-size: 0.85em;
                            font-weight: 500;
                            // margin-bottom: 8px;
                            text-transform: capitalize;
                        }
                        
                    }
                   
                }
    
            
            }
    
            .chatScreen-cont{
                //    background-color: green;
               
                margin-top: 0px;
                padding: 10px 0px;
                
    
                // @media screen and (min-width:720px){
                //     display: flex;
                //     flex-direction: column;
                //     align-items: center;
                //     justify-content: center;
                //     margin-top: 8px;

                //     // height: 400px;
    
                    
                //     }
    
                .chatScreen-body{
                    padding: 10px 0;
                    border-radius: 15px;
                    background-color: #bababa1a;
                    
                    
                    
    
                    
    
                    // @media screen and (min-width:720px){
                    //     padding: 10px 40px;
                    //     width: 90%;
                    //     // height: 20vh;
                        
                    //     }
                }
    
                .chatSecondary-time{
                    text-align: center;
                    text-transform: capitalize;
                    margin-bottom: 10px;
                    font-weight: 500;
                    font-size: 0.8em;
                    opacity: 0.5;
                }
    
                
    
                .mainReciever-msg{
                    margin-bottom: 15px;

                    
    
                    .recieverMsg-Cont{
                        position: relative;
                        margin: 4px 0;
                        background-color: #c8cdc86e;
                        padding: 15px 9px;
                        width: 80%;
                        border-radius: 15px 15px 15px 0;
    
                        
                        @media screen and (min-width:600px){
                            width: 60%;
                            
                            }
    
                        .recieverMsg{
                            // text-align: start;
                            // width: 250px;
                            word-break: break-word;
                            // border-radius: 15px 15px 15px 0;
                            color: black;
                            font-size: 0.85em;
                            line-height:1.3;
                            padding: 2px;
                            // background-color: red;
                           
                        }
    
                        .recieverMsg-prop{
                            position: absolute;
                            bottom:0px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 5px;
                            right:10px;
                            font-size: 0.65em;
                            font-weight: 500;
                            color: #2d2929b4;
                        } 
                    }
                }
                
                .mainSender-msg{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding-bottom: 80px;
    
                    .senderMsg-Cont{
                        position: relative;
                        padding: 15px 9px;
                        margin: 2px 0;
                        background-color: rgba(0, 128, 0, 0.753);
                        width:80%;
                        border-radius: 15px 15px 0 15px;
    
                        @media screen and (min-width:600px){
                            width: 60%;
                            
                            }
    
                        .senderMsg{
                            // text-align:start;
                            // width: 250px;
                            word-break: break-word;
                           color: white;
                           font-size: 0.85em;
                           line-height:1.3;
                           padding: 2px;
                        //    background-color: red;
    
                        }
    
                        .senderMsg-prop{
                            position: absolute;
                            bottom: 0px;
                            right: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 5px;
                            // margin-top: 5px;
                            font-size: 0.65em;
                            font-weight: 500;
                            color: #ffffffb4;
    
                            // @media screen and (min-width:720px){
                            //     padding: 5px;
                                
                            // }
    
                            .senderMsg-tick{
                                .double-tick{
                                    
                                    font-size: 1.4em;
                                }
    
                                .single-tick{
                                    font-size:1.4em;
                                }
                            }
                        }
                    }
                }
               
            }
    
            .chat-input-cont{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                background-color: white;
                position:fixed;
                bottom: 0px;


                
                .chat-input{
                
                    display: flex;
                    // flex-direction: column;
                    align-items: flex-end;
                    
                    // background-color:red;
                    
                    justify-content: center;
                    width: 100%;
                    padding: 8px 9px 20px 9px;

                    @media screen and (min-width:900px){
                         width: 55%;

                       
                    }
            
                    .chat-textField{
                        // position: fixed;
                        // position: absolute;
                        
                        width: 100%;
                        max-height: 100px;
            
                        border-radius: 10px;
                        padding: 10px;
                        outline: none;
                        border: none;
                        background-color: #ededed;
            
                        &::placeholder{
                            text-align: left;
                            font-weight: 500;
                            font-size: 0.95em;
                        }

                        @media screen and (min-width:900px){
                            // width: 90%;
                            // font-size: 0.9em;
                            }
            
                    }
            
                    .chat-option{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        gap: 10px;
                        // font-size: 2em;
                        padding: 0 4px;
                        margin-left: 3px;
        
                        // @media screen and (min-width:720px){
                        // gap: 30px;
                            
                            
                        //     }
            
                        .sender{
            
            
                            .send-btn{
                                cursor: pointer;
                                border: none;
                                outline: none;
                                padding: 10px;
                                background: transparent;
                                // background-color: #ededed;
                                font-size: 1.3em;
                
                                
                                
                            }
                
                        }
                
                        .inputLabel{
                            // background-color: red;
                            cursor: pointer;
                            .file-share{
                                display: none;
                            }
            
                            .pic-icon{
                                cursor: pointer;
                                font-size:1.3em;
                            }
                        }
                    }
            
            
                    
                }
            }

        }
            
       
        
    
            
       
    }


