*{
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .chat-cont {
    display: flex;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .chat-cont .mobile-ui-wrapper {
    max-width: 40%;
  }
  .chat-cont .desktop-ui-wrapper {
    max-width: 60%;
  }
  .chat-cont ::-webkit-scrollbar {
    width: 5px;
  }
  .chat-cont ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .chat-cont ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.192);
  }
  .chat-cont ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.251);
  }
}
.chat-cont .desktop-ui-wrapper {
  display: none;
}
.chat-cont .desktop-ui-wrapper, .chat-cont .mobile-ui-wrapper {
  background-color: rgba(126, 125, 125, 0.0823529412);
  padding: 0 5px;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 900px) {
  .chat-cont .desktop-ui-wrapper, .chat-cont .mobile-ui-wrapper {
    width: 40%;
  }
}
@media screen and (min-width: 900px) {
  .chat-cont .desktop-ui-wrapper .ui, .chat-cont .mobile-ui-wrapper .ui {
    position: fixed;
    width: 28%;
  }
}
.chat-cont .desktop-ui-wrapper .ui .ui-searchBar, .chat-cont .mobile-ui-wrapper .ui .ui-searchBar {
  background-color: white;
  padding: 15px 0;
}
@media screen and (min-width: 900px) {
  .chat-cont .desktop-ui-wrapper .ui .ui-searchBar, .chat-cont .mobile-ui-wrapper .ui .ui-searchBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 2;
  }
}
.chat-cont .desktop-ui-wrapper .ui .searchBar-items, .chat-cont .mobile-ui-wrapper .ui .searchBar-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90%;
  background-color: white;
  padding: 0.4rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px -3px #000000;
}
.chat-cont .desktop-ui-wrapper .ui .searchBar-items .searchBar-input, .chat-cont .mobile-ui-wrapper .ui .searchBar-items .searchBar-input {
  width: 100%;
  outline: none;
  border: none;
}
.chat-cont .desktop-ui-wrapper .ui .searchBar-items .searchBar-input::-moz-placeholder, .chat-cont .mobile-ui-wrapper .ui .searchBar-items .searchBar-input::-moz-placeholder {
  font-size: 1.1em;
}
.chat-cont .desktop-ui-wrapper .ui .searchBar-items .searchBar-input:-ms-input-placeholder, .chat-cont .mobile-ui-wrapper .ui .searchBar-items .searchBar-input:-ms-input-placeholder {
  font-size: 1.1em;
}
.chat-cont .desktop-ui-wrapper .ui .searchBar-items .searchBar-input::placeholder, .chat-cont .mobile-ui-wrapper .ui .searchBar-items .searchBar-input::placeholder {
  font-size: 1.1em;
}
.chat-cont .desktop-ui-wrapper .ui .users-box, .chat-cont .mobile-ui-wrapper .ui .users-box {
  padding: 20px 10px;
  background-color: white;
  margin-top: 1rem;
  border-radius: 20px;
}
@media screen and (min-width: 900px) {
  .chat-cont .desktop-ui-wrapper .ui .users-box, .chat-cont .mobile-ui-wrapper .ui .users-box {
    padding: 20px 30px;
    overflow-y: auto;
    height: 100vh;
    width: 80%;
    font-size: 0.9em;
  }
}
.chat-cont .desktop-ui-wrapper .ui .users-box .usersBox-headText, .chat-cont .mobile-ui-wrapper .ui .users-box .usersBox-headText {
  font-weight: 600;
  font-size: 1em;
  text-transform: capitalize;
}
@media screen and (min-width: 720px) {
  .chat-cont .desktop-ui-wrapper .ui .users-box .usersBox-headText, .chat-cont .mobile-ui-wrapper .ui .users-box .usersBox-headText {
    margin-bottom: 0.8em;
  }
}
.chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0666666667);
  padding: 0.9rem 0;
  cursor: pointer;
}
.chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat .profile-img, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat .profile-img {
  position: relative;
}
.chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat .profile-img .user-img, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat .profile-img .user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat .profile-img .online-indicator, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat .profile-img .online-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  border: 2px solid white;
}
.chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat .user-info, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat .user-info {
  width: 100%;
}
.chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat .user-info .username, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat .user-info .username {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat .user-info .username .username-text, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat .user-info .username .username-text {
  font-size: 0.85em;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat .user-info .username .chat-status, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat .user-info .username .chat-status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5px 8px;
  border-radius: 25px;
  border: 1px solid red;
}
.chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat .user-info .username .chat-status .status-text, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat .user-info .username .chat-status .status-text {
  font-size: 0.6em;
  color: rgba(255, 0, 0, 0.473);
  font-weight: 600;
}
.chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat .user-info .chat, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat .user-info .chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat .user-info .chat .chat-text, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat .user-info .chat .chat-text {
  width: 230px;
  padding: 3px 0px;
  font-size: 0.75em;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.5;
}
@media screen and (min-width: 900px) {
  .chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat .user-info .chat .chat-text, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat .user-info .chat .chat-text {
    width: 200px;
    font-size: 0.9em;
  }
}
.chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat .user-info .chat .chat-time, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat .user-info .chat .chat-time {
  font-size: 0.6em;
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .chat-cont .desktop-ui-wrapper .ui .users-box .users .user-chat .user-info .chat .chat-time, .chat-cont .mobile-ui-wrapper .ui .users-box .users .user-chat .user-info .chat .chat-time {
    font-size: 0.75em;
    display: none;
  }
}/*# sourceMappingURL=chat-ui.css.map */