.chat-cont{


    @media screen and (min-width:900px){
        display: flex;
        // background-color: purple;
        // width: 100vw;

        .mobile-ui-wrapper{
            max-width:40%;
        }

        .desktop-ui-wrapper{
            max-width: 60%;
        }
        


                /* width */
        ::-webkit-scrollbar {
            width: 5px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: rgba(136, 136, 136, 0.192);
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: rgba(85, 85, 85, 0.251);
        }
        
    }

    .desktop-ui-wrapper{
        display: none;
    }
    

    .desktop-ui-wrapper, .mobile-ui-wrapper{
        // display:none;
        // position: relative;
        background-color:#7e7d7d15;
        padding: 0 5px; 
        font-family: 'Poppins', sans-serif;
       

        @media screen and (min-width:900px){
            width: 40%;
            
        }
    
    
        .ui{

            @media screen and (min-width:900px){
                
                // background-color: red;
                // width: 100%;
                position: fixed;
                width: 28%;
              
            }
          
            
            .ui-searchBar{
                background-color: white;
                // width: 100%;
                padding: 15px 0;
                // border-radius: 10px;
                
    
                @media screen and (min-width:900px){
                   position: sticky;
                   top: 0px;
                   
                   z-index: 2;
                }
            }
    
            .searchBar-items{
                
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                width: 90%;
                background-color: white;
                padding: 0.4rem ;
                border-radius: 10px;
                -webkit-box-shadow: 0px 0px 12px -3px #000000; 
                box-shadow: 0px 0px 5px -3px #000000;
    
    
             
                
                .searchBar-input{
                    width: 100%;
                    outline:none;
                    // background-color: red;
                    border: none;
                    
                    &::placeholder{
                        font-size: 1.1em;
                    }
                }
    
            }
    
            .users-box{
               
                padding: 20px 10px;
                background-color: white;
                margin-top: 1rem;
                border-radius: 20px;
               
    
                
                @media screen and (min-width:900px){
                    
                    padding: 20px 30px;
                //    background-color: blue;
                   overflow-y: auto;
                    height: 100vh;
                    width: 80%;
                    font-size: 0.9em;

                    
                    }
    
                .usersBox-headText{
                    font-weight: 600;
                    font-size: 1em;
                    text-transform: capitalize;
    
                    
                    @media screen and (min-width:720px){
                        margin-bottom: 0.8em;
                        }
                }
    
                .users{
                   
                    
                    .user-chat{
                        display: flex;
                        align-items: center;
                        // justify-content: space-around;
                        gap: 10px;
                        border-bottom: 1px solid #00000011;
                        padding: 0.9rem 0;
                        cursor: pointer;
    
    
                        .profile-img{
                            position: relative;
                            .user-img{
                                width: 45px;
                                height: 45px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
    
                            .online-indicator{
                                position: absolute;
                                top:0;
                                right: 0;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: green;
                                border: 2px solid white;
                            }
                        }
    
                        .user-info{
                            width: 100%;
                            .username{
                                display: flex;
                                justify-content: space-between;
                                align-content: center;
    
                                .username-text{
                                    font-size: 0.85em;
                                    font-weight: 500;
                                    margin-bottom: 8px;
                                    text-transform: capitalize;
                                }
    
                                .chat-status{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    // background-color: #097b09b7;
                                    padding: 1.5px 8px;
                                    border-radius: 25px;
                                    border: 1px solid red;
    
                                    
    
                                    .status-text{
                                        font-size: 0.6em;
                                        color: rgba(255, 0, 0, 0.473);
                                        font-weight: 600;
                                    }
                                }
                                
                            }
                            .chat{
                                display: flex;
                                // gap: 20px;
                                align-items: center;
                                justify-content: space-between;
                                
                                 

                                   
                                .chat-text{
                                    width: 230px;
                                    padding: 3px 0px;
                                    font-size: 0.75em;
                                    font-weight: 500;
                                    white-space:nowrap;
                                    overflow:hidden;
                                    text-overflow:ellipsis;
                                    opacity: 0.5;
    
                                    @media screen and (min-width:900px){
                                    width: 200px;
                                    font-size: 0.9em;
                                    }
                                    
                                }
    
                                .chat-time{
                                    font-size: 0.6em;
                                    // display: none;
    
                                    
                                    @media screen and (min-width:900px) and (max-width:1200px){
                                        font-size: 0.75em;
                                        display: none;
                                        }
                                }
                            }
                        }
    
                    
                    }
                }
            }
        }
    }




}
